.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--main); /* початковий колір іконки */
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.btn:hover {
  color: var(--button-hover); /* колір при ховері */
}

.btn.active {
  color: var(--button-hover); /* колір, коли додано в обране */
}

.icon {
  width: 26px;
  height: 24px;
  display: block;
}
