.card {
  padding: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  /* overflow: hidden; */
  /* max-width: 300px; */
  width: 888px;
  height: 100%;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  background: var(--white);
  display: flex;
}

.image {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  object-fit: cover;
}

.info {
  padding-left: 24px;
  width: 100%;
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;

  /* line-height: 32px; */
  line-height: 1.33333;
  color: var(--main);

  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;

  /* line-height: 32px; */
  line-height: 1.33333;
  color: var(--main);
}
.priceFavoriteWrapper {
  display: flex;
  gap: 12px;
}
.reviewsLocation {
  display: flex;
  gap: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
  margin-bottom: 24px;
}
.iconText {
  display: inline-flex; /* або просто flex, якщо <p> блочний */
  align-items: center;
  gap: 6px; /* відстань між іконкою і текстом */
}
.description {
  margin-bottom: 24px;
}

.showMoreBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  display: inline-block;
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  text-decoration: none;
  background: var(--button);
  transition: background-color 0.3s ease;
}

.showMoreBtn:hover {
  background: var(--button-hover);
}
